<div class="container">
  <mat-grid-list cols="2" rowHeight="70px">
    <mat-grid-tile>
      <strong>Meeting Length</strong>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="grid-dropdown">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select [ngModel]="changes.meetingDur" (ngModelChange)="changes.meetingDur = $event;">
            <mat-option [value]=15>15 Seconds</mat-option>
            <mat-option [value]=30>30 Seconds</mat-option>
            <mat-option [value]=45>45 Seconds</mat-option>
            <mat-option [value]=60>1 Minute</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <strong>Transition Length</strong>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="grid-dropdown">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select [ngModel]="changes.transitionDur" (ngModelChange)="changes.transitionDur = $event;">
            <mat-option [value]=15>15 Seconds</mat-option>
            <mat-option [value]=30>30 Seconds</mat-option>
            <mat-option [value]=45>45 Seconds</mat-option>
            <mat-option [value]=60>1 Minute</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <strong>Marooning</strong>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="grid-dropdown">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select [ngModel]="changes.marooningScript" (ngModelChange)="changes.marooningScript = $event;">
            <mat-option value="Standard">Standard</mat-option>
            <mat-option value="Theatrical">Theatrical</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="option-tooltip">
        <strong>Round 1 Elimination</strong>
        <p>(reveal player allegiance instead)</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="grid-dropdown">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select [ngModel]="changes.roundOneElimination" (ngModelChange)="changes.roundOneElimination = $event;">
            <mat-option [value]=false>Off</mat-option>
            <mat-option [value]=true>On</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  @for (room of [].constructor(pregame ? 7 : changes.requiredRooms); track room; let i = $index) {
  <div class="room-entry">
    <div class="option-tooltip" style="margin-bottom: 20px;" [style.margin-bottom]="i >= 4 ? '0px' : '20px'">
      <strong>Room {{i + 1}}</strong>
      @if (i >= 4) {
        <p style="margin-right: 10px">({{(i*2) + 1}}+ players)</p>
      }
    </div>
    <mat-form-field>
      <mat-label>Room {{i + 1}} Nickname</mat-label>
      <input matInput maxlength="15" [ngModel]="changes.rooms[i]" (ngModelChange)="changes.rooms[i] = $event;" [placeholder]="placeholderRooms[i]"/>
    </mat-form-field>
  </div>
  }
  <div class="btn">
    <button mat-raised-button (click)="backend.updateGameOptions(changes)" color="primary">Done</button>
  </div>
</div>