.container {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 82px;
    padding-bottom: 3%;
    z-index: 2;

    .option-tooltip {
        strong {
            margin-bottom: 0;
        }

        p {
            font-size: x-small;
            text-align: center;
            margin-top: 0;
        }
    }

    strong {
        margin-bottom: 20px;
    }

    .room-entry {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        strong {
            margin-top: 18px;
            margin-right: 10px;
        }

        mat-form-field {
            float: left;
            scale: 90%;
        }
    }

    .room-select {
        
        .ship-diagram {
            position: relative;
        
            canvas {
                position: relative;
                z-index: 2;
            }
        
            img {
                height: 600px;
                width: 200px;
                position: absolute;
                z-index: 1;
            }

            .invisible-btns {
                position: relative;

                button {
                    position: absolute;
                    background: transparent;
                    //border: none;
                    z-index: 3;
                }
            }

        }

        .entry-boxes {
            z-index: 3;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            row-gap: 10px;

            mat-form-field {
                //position: absolute;
                height: 75px;
                scale: 80%;
            }
        }


    }

    .btn {
        display: flex;
        scale: 130%;
        justify-content: center;
        margin-top: 30px;
        padding-bottom: 5px;
    }
}